<h1>Search Results!</h1>
<p>Here are all the flats for: <%= @location %></p>


<ul>
  <li>check-in: <%= @checkin.strftime('%A, %b %d') %></li>
  <li>check-out: <%= @checkout.strftime('%A, %b %d') %></li>
</ul>
